<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'TO_DO/style.css' %}">
    <title>Delete TO-DO</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'TO_DO:index' %}">TO-DO</a></h1>
    </header>
    <h1 style="text-align: center; color: red;">Confirm delete of {{ todo }}</h1>
    <form method="post" action="{% url 'TO_DO:Todo_delete' todo.id %}">
        {% csrf_token %}
        <input class="delete-button" type="submit" value="Confirm delete">
    </form>
</body>
</html>