<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'TO_DO/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1><a href="{%url 'TO_DO:index' %}">TO-DO</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'TO_DO:create' %}">Create</a></li>
                    <li><a href="{% url 'TO_DO:register' %}">Register</a></li>
                    <li><a href="{% url 'TO_DO:login' %}">Login</a></li>
                    <li><a href="{% url 'TO_DO:logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <form class="create-form" method="post" action="{% url 'TO_DO:create' %}"> {% csrf_token %}
        <div>
            {{ form.as_p }}
            <input class="create-button" type="submit" value="CREATE">
        </div>
    </form>
</body>
</html>
