<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'TO_DO/style.css' %}">
    <title>UPDATE</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'TO_DO:index' %}">TO-DO</a></h1>
    </header>
    <form method="post"> {% csrf_token %}
        <div>
            {{ form.as_p }}
            <input class="submit-button" type="submit" value="UPDATE">
        </div>
    </form>
</body>
</html>