* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #256525;
    height: 60px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 100%;
    margin: auto;
}

header div a {
    color: #fff;
    text-decoration: none;
}

header div nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

body {
    background-color: #f3f3f3;
}

.index-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.todo-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.todo-list li {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 5px auto;
    padding: 10px;
    width: 80%;
}

.todo-list li div {
    width: 20%;
    text-align: center;
}

.todo-list li div a {
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
}

.todo-list li div .update {
    background-color: green;
    color: #fff;
}

.todo-list li div .update:hover {
    color: #62fd62;
}

.todo-list li div .delete {
    background-color: red;
    color: #fff;
}

.todo-list li div .delete:hover {
    color: rgb(90, 22, 22);
}

/* FORMS TO-DO */
.create-form, .update-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.create-form div, .update-form div {
    display: flex;
    flex-direction: column;
}

.create-form div #id_title, .create-form div #id_date, .update-form div #id_title, .update-form div #id_date {
    outline: none;
    width: 100%;
    margin: 5px 0;
}

.submit-button, .create-button, .delete-button, .register-button, .login-button {
    padding: 8px 20px;
    align-self: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button, .create-button, .register-button, .login-button {
    background-color: #62fd62;
}

.delete-button {
    background-color: red;
}

.submit-button:hover, .create-button:hover, .register-button:hover, .login-button:hover {
    background-color: #256525;
    color: #fff;
}

.delete-button:hover {
    background-color: rgb(70, 0, 0);
    color: #fff;
}

/* AUTHENTICATION FORMS */

.register-form, .login-form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.register-form p, .login-form p {
    display: flex;
    flex-direction: column;
}

.register-form p label, .login-form p label {
    margin: 20px 0;
    font-size: 20px;
}

.register-form p input, .login-form p input {
    height: 30px;
    padding: 5px;
    font-size: 20px;
    outline: none;
}

.login-button {
    margin: 10px 0 0 0;
}


